.title {
    color: #25265EB3;
    font-family: 'Barlow', sans-serif;
}

.typography {
    color: #25265EB3;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .typography {
        font-size: 14px;
    }

    .title {
        font-size: 23px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .typography {
        font-size: 14px;
    }

    .title {
        font-size: 28px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .typography {
        font-size: 15px;
    }

    .title {
        font-size: 28px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .typography {
        font-size: 15px;
    }

    .title {
        font-size: 28px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .typography {
        font-size: 15px;
    }

    .title {
        font-size: 28px;
    }
}

/* use for header and title "Barlow"*/
/* font-family: 'Barlow', sans-serif; */
/* use for text or Typography "Roboto"*/
/* font-family: 'Roboto', sans-serif; */